<app-barra-de-navegacion></app-barra-de-navegacion>

<br>
<div class="container">
    
    <div class = "Titulo">
        <h1>Formulario Actual</h1><br><br>
    </div>

    <form>
        <div>
            <h6>A) RESPONSABILIDAD (10%)</h6>
        </div>
        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Planea y orienta su gestion con base en la mision y las politicas institucionales</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Propende por el buen uso de los beneficios de la universidad</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Reconoce los limites de su autoridad y actua dentro de ellos</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group  mb-2 ">
                <li>Cummple a cabalidad el tiempo de vinculacion laboral o contractual con la universidad</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </form> 
    <br>
<!-- ****************************************************************************************************************** -->

    <form>
        <div>
            <h6>B) PUNTUALIDAD Y CUMPLIMIENTO (5%)</h6>
        </div>
        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Atiende oportunamente sus compromisos y obligaciones</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Asiste puntualmente a las reuniones que se le cita</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Atiende diligentemente las soluciones de los estudiantes, profesores y empleados</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </form>
    <br>

<!-- *************************************************************************************************************** -->
    <form>
        <div>
            <h6>C) EFICIENCIA (10%)</h6>
        </div>
        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Faculta el trabajo de los demas</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Administra los recursos con equidad y eficiencia</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Propone planes, politicas y acciones coherentes con la mision institucional</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group  mb-2 ">
                <li>Ejecuta acciones de acuerdo con los planes y politicas previamente definidos</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>
    </form> 
    <br>

<!-- *************************************************************************************************************** -->

    <form>
        <div>
            <h6>D) RELACIONES INTERPERSONALES (5%)</h6>
        </div>
        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Es creativo en interpretacion de situaciones en la busqueda de eduaciones</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Propicia el ambiente de confianza, colaboracion y convivencia en el grupo de trabajo</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>Es receptivo y tolerante ante la critica</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div  class="form-inline">
            <div class="form-group  mb-2 ">
                <li>Distingue y separa los problemas organizacionales de las personas</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Observaciones</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

    </form> 
    <br>

